<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chaines</ion-title>
  </ion-toolbar>
 
  <ion-row>
    <ion-col col-4><ion-button expand="block" fill="outline" color="primary">Nombre vue
      <ion-icon name="arrow-up" color="primary"></ion-icon>
    </ion-button></ion-col>
    <ion-col col-4><ion-button expand="block" fill="clear" color="primary">Filtre
      <ion-icon name="arrow-up" color="primary"></ion-icon>
    </ion-button></ion-col>
    <ion-col col-4><ion-button expand="block" fill="clear" color="primary">
      <ion-icon name="options" color="primary"></ion-icon>
    </ion-button></ion-col>
  </ion-row>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let channel of channels" style="margin-top: 20px;">
      <img slot="start" [src]="channel.img" >
      <div >
        <p class="title">{{channel.title}}</p>
        <p class="subtitle">{{channel.soustitre}}</p>
        <p class="subtitle">{{channel.vue}}M Vue | {{channel.time}} mois</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
