img{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.title{
    font-size: 15px;
    font-weight: bold;
}

.subtitle{
    margin-top: -10px;
    font-size: 12px;
}
div{
    margin-top: -10px;
}

ion-button{
    font-size: 10px;
    text-decoration: none;
}