

ion-icon{
    font-size: 20px;
}

ion-label{
    font-size: 11px;
}

p{
    font-size: 17px;
    font-weight: bold;
}

ion-slide{
    display: block;
    width: 100%;
}

ion-slides{
    width: 100%;
}

img{
    border-radius: 20px;
    height: 125px;
}

.channel{
    margin-top: -2px;
    margin-left: -29px;
}

h4 {
    font-size: 13px;
    margin-top: -15px;
    margin-left: -137px;
    color: black;
    font-weight: bold;
}

h5 {
    font-size: 10px;
    margin-top: -10px;
    margin-left: -178px;
}