<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <p>Actions</p>
    </ion-list-header>
    <ion-item>
      <p>Condition d'utilisation</p>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      <p>Politique de confidentialité</p>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      <p>Qui sommes nous?</p>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
