ion-content{
    --background:#f8f8f8;
}

.title{
    font-size: 17px;
    font-weight: bold;
}

.details{
    margin-bottom:5px;
    border-radius: 5px;
}

ion-button{
    height: 50px;
    margin-top: 10px;
}

span{
    font-weight: bold;
    color: #6969fc;
}